<div class="navbar">
    <div class="nav-logo">
        <a href="#"><img src="/assets/arnabLogo.jpg" alt=""></a>
    </div>
        <div class="nav-items">
            <a routerLink="/Home"  routerLinkActive="active">Home</a>
            <a routerLink="/Plans"  routerLinkActive="active">Gallery</a>
            <a routerLink="/About"  routerLinkActive="active">About </a>
            <a routerLink="https://www.facebook.com/stylo.arnab" target="_blank"  routerLinkActive="active">Contact</a>
    </div>
</div>