<div class="plans">
    <h1 class="heading">{{heading}}</h1>
</div>
<div class="container">
    <h1 class="div-heading">Pre-Wedding Gallary</h1>
    <div class="image">
        <img [src]="currentImage">
    </div>
</div>
<div class="container">
    <h1 class="div-heading">Wedding Gallary</h1>
    <div class="image">
        <img [src]="currentImage">
    </div>
</div>
<div class="container">
    <h1 class="div-heading">Rice Ceremony Gallary</h1>
    <div class="image">
        <img [src]="currentImage">
    </div>
</div>
<div class="container">
    <h1 class="div-heading">Model-Shoot Gallary</h1>
    <div class="image">
        <img [src]="currentImage">
    </div>
</div>