<div class="body-background">
    <div class="grid-items">
        <div  class="grid"><a href="https://www.facebook.com/stylo.arnab"target="_blank"><img src="\assets\arnab1.jpg" alt="can't load" class="body-image" ></a></div>
        <div class="grid"><a href="https://www.facebook.com/stylo.arnab"target="_blank"><img src="\assets\arnab_body-img.jpg" alt="can't load" class="body-image"></a></div>
        <div class="grid"><a href="https://www.facebook.com/stylo.arnab"target="_blank"><img src="\assets\arnab2.jpg" alt="can't load" class="body-image"></a></div>
    </div>
    
</div>